<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="asciifun" library="asciifunplugin" version="1" translationDomain="asciifunplugin">
  <MenuBar>
    <Menu name="tools">
      <text>&amp;Tools</text>
      <Menu name="asciifun_menu">
        <text>ASCII &amp;Fun</text>
        <Action name="asciifun_chart"/>
        <Action name="asciifun_banner"/>
        <Action name="asciifun_table"/>
        <Action name="asciifun_image"/>
      </Menu>
    </Menu>
  </MenuBar>
</gui>
